body {
	background: #000000 url(space.jpg) left top no-repeat;
}

p {
	width: 500px;
	text-align: justify;
	font: 20px/23px bold;
	color: white;
}
h1 {
	width: 500px;
	color: white;
	text-align: center;
}
